/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: rgb(50, 49, 49);
    background: url(image/3d背景图.jpg) no-repeat;
    background-size: 100%;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 560px;
    border: 2px solid #fff;
}